<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Labology - Patients Information</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% load static %}

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Red+Rose:wght@600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

        <!-- Brand Start -->
        <div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex" id="color-brand">
            <div class="container pb-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <div class="ms-3">
                            <a href="index.html" class="h1 text-light mb-0">Labo<span class="text-lightzzy">Logy</span></a>

                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="ms-3">
                            <h5 class="text-white mb-0">Hello</h5>
                            <h5><span class="text-light"> {{provider.role}} - {{provider.first_name}} </span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand End -->


        <!-- Navbar Start -->
        <div class="container-fluid sticky-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-3">
                    <a href="index.html" class="navbar-brand d-lg-none">
                        <h1 class="text-primary m-0">Lab<span class="text-dark">sky</span></h1>
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="index.html" class="nav-item nav-link disabled">Home</a>
                            <a href="/about" class="nav-item nav-link ">About</a>
                            <a href="/patients" class="nav-item nav-link ">All Patients</a>
                            <a href="/new_patient" class="nav-item nav-link ">New Patient</a>

                        </div>
                    </div>
                    <div class="ms-auto d-none d-lg-flex">
                        <form action="/logout" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" class="d-inline">
                                <i class="bi bi-box-arrow-right"></i> Log Out
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-4 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Patient Details</h1>

        </div>
    </div>
    <!-- Page Header End -->

    <!-- Patient Details Start -->
    <div class="container my-5">
        <div class="row">
            <!-- Patient Information -->
            <div class="col-lg-6 wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                <h2 class="mb-4">Patient Information</h2>
                <ul class="list-unstyled">
                    <li><strong>First Name:</strong> {{ patient.first_name }}</li>
                    <li><strong>Last Name:</strong> {{ patient.last_name }}</li>
                    <li><strong>Mobile Number:</strong> {{ patient.mobile }}</li>
                    <li><strong>ID Number:</strong> {{ patient.id_number }}</li>
                    <li><strong>Description:</strong> {{ patient.description }}</li>
                    <li><strong>Gender:</strong> {{ patient.gender }}</li>
                    <li><strong>Age:</strong> {{ patient.age }}</li>
                </ul>
            </div>

            <!-- Add Test Form -->
            <div class="col-lg-6 wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.5s">
                <h2 class="mb-4">Add Test for Patient</h2>
                <form method="post" action="/patient/{{ patient.id }}/add_test">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="patient" name="patient" value="{{ patient.id }}" readonly>
                    <label for="patient">Patient ID</label>
                </div>

                <div class="form-floating mb-3">
                    <select id="type_of_test" name="type_of_test" class="form-select" required>
                        <option value="{{test.type_of_test}}"  selected>{{test.type_of_test}}</option>
                        <option value="IRON">Iron</option>
                        <option value="VITAMIN_D">Vitamin D</option>
                    </select>
                    <label for="type_of_test">Type of Test</label>
                </div>
                <div class="form-floating mb-3">
                    {% if provider.role == 'lab_technician' %}
                    <input type="number" step="0.01" id="test_result" name="test_result" class="form-control" value="{{ test.test_result|default:0 }}">
                    <label for="test_result">Test Result</label>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Add Test</button>
            </form>
        </div>
    </div>
</div>
    </div>
    <!-- Copyright End -->

    <div class="container-fluid copyright bg-dark text-white-50 py-5"  id="color-brand">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-0">&copy; <a href="#">Reem Joudeh</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <p class="mb-0">Designed by <a href="https://htmlcodex.com">HTML Codex</a><br>Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
                </div>
            </div>
        </div>
        </div>
    <!-- Copyright End -->  
    

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top color-brand" id="color-brand"><i class="bi bi-arrow-up"></i></a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>